@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Heebo", sans-serif;
}
header {
}
header .h-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 40px;
}
nav {
  padding: 25px 40px;
  /* padding: 10px 0px; */
  display: flex;
  gap: 20px;
}
nav a {
  text-decoration: none;
  color: black;
}
main {
  background-color: #f5f3ef;
  padding: 100px 50px;
  margin: 0px 40px;
  border-radius: 16px;
  display: flex;
  position: relative;
}
main img {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40%;
}
main div {
  max-width: 670px;
}
main h1 {
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
}
main p {
  font-size: 16px;
  font-weight: 400;
}
main button {
  width: 235px;
  height: 56px;
  border-radius: 29px;
  padding: 16px, 32px, 16px, 32px;
  background-color: black;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
main button span {
  /* padding: 3px;
    border: 1px solid white;
    border-radius: 10px; */
}
@media screen and (max-width: 1300px) {
  main div {
    max-width: 50%;
  }
  main div h1 {
    font-size: 7vh;
  }
  main img {
    top: 10%;
  }
}
@media screen and (max-width: 925px) {
  main div h1 {
    font-size: 30px;
    line-height: 40px;
  }
  main img {
    top: 20%;
  }
}
@media screen and (max-width: 605px) {
  main div {
    max-width: 100%;
  }
  main img {
    width: 100%;
    top: 80%;
    left: 0px;
  }
}

@media screen and (max-width: 510px) {
  main {
    padding: 180px 30px;
    margin: 0px 15px;
  }
}

.selected-works{
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  flex-wrap: wrap;
  gap: 10px;
}
.s-div{
  display: flex;
  flex-wrap: wrap;
}
.s-div p{
  padding: 10px 15px;
  border: 1px solid black;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 24px;
}
.some{
  width: 300px;
}
@media screen and (max-width: 510px) {
  .selected-works{
    padding: 0px 15px;
  }
}

.container{
  display: flex;
  padding: 10px 30px;
  gap: 20px;
  /* flex-wrap: wrap; */
}
.conts{
  width: 25%;
}
.conts p{
  font-weight: 400;
  font-size: 24px;
  margin-top: 30px;
}
.conts p span{
  margin-left: 10px;
}
.c-img1{
  width: 100%;
  height: 450px;
  background-position: center;
  background: url(3d566898fed420e6a9fb87aae49c55c3.jpeg);
  background-size: cover;
  border-radius: 24px;
}
.c-img2{
  width: 100%;
  height: 450px;
  background-position: center;
  background: url(804a245723b37cec48418f479f1605ce.jpeg);
  background-size: cover;
  border-radius: 24px;
}
.c-img3{
  width: 100%;
  height: 450px;
  background-position: center;
  background: url(b8205e6f79c5df0af93308b57bce07c3.jpeg);
  background-size: cover;
  border-radius: 24px;
}
.c-img4{
  width: 100%;
  height: 450px;
  background-position: center;
  background: url(b813a79c68061d7a3a86b49ae9c46d02.jpeg);
  background-size: cover;
  border-radius: 24px;
}
.c-img img{
  width: 200%;
}
@media screen and (max-width: 840px) {
  .c-img1, .c-img2, .c-img3, .c-img4{
    height: 350px;
  }
}
@media screen and (max-width: 710px) {
  .c-img1, .c-img2, .c-img3, .c-img4{
    height: 250px;
  }
}
@media screen and (max-width: 710px) {
  .container{
    flex-direction: column;
  }
  .conts{
    width: 100%;
  }
  /* .c-img1, .c-img2, .c-img3, .c-img4{
    width: 100%;
  } */
}
@media screen and (max-width: 605px) {
  .selected-works{
    margin-top: 300px;
  }
}
@media screen and (max-width: 450px) {
  .selected-works{
    margin-top: 240px;
  }
}
@media screen and (max-width: 370px) {
  .selected-works{
    margin-top:150px;
  }
}
.see{
  margin-top: 100px;
}
form{
  width: min(100% - 2rem, 900px);
  margin: auto;
}
form div{
  display: flex;
  justify-content: space-between;
}
form div input{
  padding: 10px 0px;
  width: 48%;
  border: none;
  border-bottom: 1px solid black;
}
form div input::placeholder{
  text-align: center;
  color: black;
}
form input::placeholder{
  text-align: center;
  color: black;

}
form input{
  padding: 10px 0px;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
}
form button{
  float: right;
  padding: 12px 32px;
  background: transparent;
  border: 1px solid black;
  border-radius: 24px;
}
@media screen and (max-width: 400px) {
  form div{
    flex-direction: column;
  }
  form div input{
    width: 100%;
  }
  form button{
    width: 100%;
  }
}
footer {
  background-color: #1e429b;
  padding: 100px;
}
.foot-btn {
  display: flex;
  justify-content: space-between;
}
footer button {
  display: flex;
  gap: 5px;
  padding: 12px 32px 12px 32px;
  background-color: transparent;
  border: 1px solid white;
  color: #fff;
  border-radius: 24px;
}

hr {
  border: none;
  border-top: 1px solid #f5f3ef;
}
.foot-content {
  display: flex;
  justify-content: space-between;
}
.foot-cont {
  display: flex;
  gap: 20px;
}
.foot-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.foot-links a {
  color: #fff;
  text-decoration: none;
}
.foot-icons {
  display: flex;
  gap: 20px;
}
.foot-icons div {
  background-color: #d9d9d920;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 120px;
}
.foot-icons div i {
  color: #fff;
}
@media screen and (max-width: 850px) {
  footer {
    padding: 100px 20px;
  }
  .foot-content {
    flex-direction: column;
  }
  .foot-icons div {
    background-color: #d9d9d920;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 120px;
  }
  .foot-btn img {
    width: 100px;
  }
  footer button {
    display: flex;
    gap: 5px;
    padding: 8px 22px;
    background-color: transparent;
    border: 1px solid white;
    color: #fff;
    border-radius: 24px;
  }
}
@media screen and (max-width: 590px) {
    footer{
        margin-top: 40px;
    }
}


@media screen and (max-width: 380px) {
    .foot-links a{
        font-size: 13px;
    }
    .foot-cont{
        justify-content: space-between;
        padding-bottom: 30px;
    }
    .foot-icons{
        border-top: 1px solid #f5f3ef;
        padding-top: 30px;
    }
}